
.sp-form h2,
.sp-form h3,
.sp-form h4 {
  color: #008000;
}

.sp-form {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #444;
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
  background-color: lighten(#CBE0EF, 2%);
  border-radius: 2px;
  overflow: hidden;
}

.defaultText {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #444;
}

.radioLabel,
.fieldLabel {
  font-size: .75em;
  padding: .5em 0 .25em 0;
  letter-spacing: .03em;
}

.fieldLabel {
  display: block;
}

.supplyLabel {
  font-size: 1em;
}
.supplyLabel span {
  display: block;
}

.radio-input {
  display: inline;
}

.required {
  color: red;
}

.textInput,
.selectInput {
  border: none;
  padding: .5em .2em;
}

.textInput {
  width: 100%;
}

.selectInput {
  min-width: 66.666%;
}

.input-container {
  padding: .25em .5em;
  position: relative;
  transition: all .5s ease-in;
}

.input-container.subscribe {
  margin-top: .5em;
}

.multiple-inputs {
  background-color: #eee;
  padding: 1em;
  margin: 1em .25em;
}

.unhappy {
  border-left: 3px solid red;
}

.unhappyMessage {
  text-align: center;
  color: red;
  font-size: .75em;
  display: block;
  position: absolute;
  bottom: -1em;
  left: 0;
  right: 0;
  animation: fadeInLeft .25s ease-in;
}

.sp-legend {
  font-size: .75em;
  padding: .25em .5em;
}

textarea {
  height: 100px;
}

.buttonStyle {
  border: none;
  padding: .5em 1em;
  background-color: white;
  font-weight: 800;
  text-transform: uppercase;
}

.formErrorMessages {
  text-align: right;
  padding: .2em .5em;
}
.super {
  vertical-align: super;
  font-size: .75em;
}

.tableLegend {
  font-size: 1.2em;
  /*margin: 2em .5em 1em;
  padding-top: 2em;*/
  margin-bottom: .25em;
  padding: 0;
  text-align: left;
}

.fieldLegend {
  font-weight: bold;
}
.fieldLegend__sub {
  font-size: .9em;
}
table {
  font-size: .75em;
  width: 100%;
}
.sp-table {
  margin: 1em .5em 2em;
  td {
    padding: 0 5px 0 0;
  }
}
.sp-table__subtitle {
  margin-top: 0;
  padding-top: 0;
  text-align: left;
  vertical-align: super;
  font-style: italic;
  font-size: .75em;
  font-weight: bold;
  letter-spacing: .02em;
  transform: translateY(-1.5em);
}

td {
  vertical-align: top;
  text-align: left;
}
td:last-of-type {
  text-align: right;
}
input[type="number"]{
  width: 3.5em;
}
.scroll-top {
  display: none;
}
.scroll-top.required {
  font-size: .9em;
  font-style: italic;
}


@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0%, -100%, 0);
  }
  85% {
    opacity: 1;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
